

{% load static %}
<nav class="navbar fixed-top navbar-expand-xl">
    <div class="container">
        <div class="logo">
            <a  href="/"><img class="limitless-logo" src="{% static 'images/home_page/websitelogo.png' %}"></a>
        </div>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item-a">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item-a">
                        <a class="nav-link" href="{% url 'tours' %}" >Our 2025  E-bike Tours</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About Us
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'who' %}">Who we are </a></li>
                            <li><a class="dropdown-item" href="{% url 'how' %}">How it works?</a></li>
                            <li><a class="dropdown-item" href="{% url 'faq' %}">FAQ</a></li>
                        </ul>
                    </li>
                    <li class="nav-item-a">
                        <a class="nav-link"  href="{% url 'contact' %}" >Contact Us</a>
                    </li>
                    <div class="contact_us_butt">
                        <button class="book_f"  type="button"><a class="book_faq" href="https://fareharbor.com/embeds/book/triangleadventures/?full-items=yes&flow=1269994"  >Gift Cards!</a></button>
                    </div>
                    <li class="nav-item-b">
                        <button class="signup-button"  type="button"><a  href="https://fareharbor.com/embeds/book/triangleadventures/items/calendar/?full-items=yes&flow=1269994" rel="nofollow" class="sign-upb" target="_blank" >Book Now!</a></button>
                    </li>
                    
            </ul>
        </div>
    </div>
    
</nav>