{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="tours_first_section">
    <div class="image-container">
        <img class="background_tour" src="{% static 'images/tours/actual_tour.jpg' %}">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-8 col align-self-center">
              <h1 class="tour_title_two">4 Hour Mystery Adventure</h1>
            </div>
            <div class="col-xs-12 col-md-4 ">
              <div class="card" style="width: 100%;height: 100%;">
                <div class="card-body-two">
                  <div class="card ">
                    <div class="card-body-two">
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <p class="card-text_tour"><i class="fa-solid fa-user-group" style="color: #f96b00;"></i>&nbsp;&nbsp;Up to 10 people</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <p class="card-text_tour"><i class="fa-solid fa-clock" style="color: #f36b00;"></i>&nbsp;&nbsp;4 hours</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <p class="card-text_tour"><i class="fa-solid fa-dollar-sign" style="color: #f36b00;"></i>&nbsp;&nbsp;110 per person</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="center_everything" style="display: flex; justify-content: center;">
                          <div class="col-md-6 p-1">
                            <button class="book_trip"  type="button"><a class="book_t" href="https://squareup.com/appointments/buyer/widget/0z37p1r6qn76bg/LFJHA78277SG7" target="_blank">Book this trip</a></button>
                          </div>
                          <div class="col-md-6 p-1">
                            <button class="book_trip"  type="button"><a class="book_t" href="https://app.waiverelectronic.com/render/templateByRefId/659dc325207404c6d3edda69" target="_blank" >Waiver</a></button>
                          </div>
                        </div>
                        
                      </div>
                      
                    </div>
                  </div>
                    
                </div>
            </div>
            </div>
        </div>
          
          
        </div>
    </div>    
</section>
<section class="tour_two_hour">
    <div class="container">
        <div class="row pt-5 pb-5 mt-5">
            <div class="col-xs-12 col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static 'images/tours/1.jpg' %}" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'images/tours/2.jpg' %}" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'images/tours/3.jpg' %}" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="home_pre_title" >
                  <ul>
                    <h3 class="highlights">Highlights</h3>
                    <li class="highlight_list">We don't run this adventure very often, so trust us, it is seriously awesome</li>
                    <li class="highlight_list">It's never exactly the same twice</li>
                    <li class="highlight_list">if you do this one, the next one we run will still be a mystery</li>
                    <li class="highlight_list">Delicious food stop will be included, but the details are a surprise</li>
                  </ul>
                    
                </div>
                <div class="home_pre_title" >
                  <ul>
                    <h3 class="highlights">Equipment Provided</h3>
                    <li class="highlight_list">eBike</li>
                    <li class="highlight_list">Bike helmet</li>
                    <li class="highlight_list">Head Socks</li>
                    
                  </ul>
                </div>
                <div class="home_pre_title" >
                  <ul>
                    <h3 class="highlights">What to Bring</h3>
                    <li class="highlight_list">Comfortable clothes to spend several hours biking</li>
                    <li class="highlight_list">Water bottle/snack</li>
                    <li class="highlight_list">Closed-toe shoes</li>
                    <li class="highlight_list">A light jacket</li>
                    <li class="highlight_list">A backpack/waist pack to carry belongings (credit card, debit card, photo I.D., phone)</li>
                    
                  </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_adventure">
  <div class="container">
    <h1 class="about_adventure_title">About the Adventure</h1>
    <div class="row">
       
      <ul>
        <h3 class="highlights_inte">Itinerary</h3>
        <li class="highlight_list_inte">Your scenic sunset eBike tour of Asheville begins at 99 Riverside Drive in North Asheville. Tours start right around dusk, and the exact start time will vary depending on the time of year. You will be notified of the exact time prior to your tour!</li>
        <li class="highlight_list_inte">At the shop, you’ll meet your experienced guides, and get oriented with eBikes and eBike safety. Once we hit the road, you’ll cruise through some of Asheville’s most iconic spots, including the Patton and Town mountains. Your guide will treat you to interesting facts about the city of Asheville, steer you toward the best photo ops, and if you’re lucky, you may even encounter some local wildlife. The tour will also include a cruise through downtown Asheville, a quick stop at the historic Grove Park Inn for photos, and a stop in Asheville’s River Arts District. The final stop will take you back to our shop, where you can enjoy a complimentary beverage on our patio.</li>
        <li class="highlight_list_inte">Prior to your trip, you’ll receive an email/text notification with all the details, including the exact meeting time. Trips will take place rain or shine, and cancellations must be 48 hours in advance. If the weather is especially inclement, we will contact you with alternate arrangements.</li>
      </ul>
      
    </div>
    <div class="row">
       
      <ul>
        <h3 class="highlights_inte">Equipment</h3>
        <li class="highlight_list_inte">All participants will be provided with a Giant Vida eBike and a bike helmet for their trip. The eBikes are equipped with headlights for safe riding after sunset. Folks of all fitness levels can enjoy an easy and fun ride through Asheville’s varied terrain, as the bikes require little exertion. Participants can wear comfortable clothing and should bring a lightweight jacket in case the weather gets cooler after sunset. The bikes do not have storage so participants should bring a backpack or waist pack to store belongings and a snack or a bottle of water.</li>
        
      </ul>
      
    </div>
    <div class="row">
       
      <ul>
        <h3 class="highlights_inte">Your Guide</h3>
        <li class="highlight_list_inte">The Sunset eBike Tour is a tour that is led by experienced guides who are familiar with Asheville and can help you experience the city and surrounding mountains like a local. All of our guides live in the Asheville area and are familiar with both popular spots and unique sites that make Asheville stand out as a favorite vacation getaway. Tours can be tailored to the group’s interests and can create a memorable tour that you’ll love.</li>
      </ul>
      
    </div>
    <div class="row">
       
      <ul>
        <h3 class="highlights_inte">The Ride</h3>
        <li class="highlight_list_inte">The guided eBike tour is a 14-mile, leisurely-paced tour that lasts approximately 2-3 hours and includes plenty of breaks to take photos. The bikes are motorized, allowing participants of all activity levels to experience a fun ride without the work of pedaling through mountainous terrain. The ride will also include a visit to a historic local hotel, the Grove Park Inn for some photo ops, and a complimentary beverage on our shop’s patio.</li>
      </ul>
      
    </div>
    <div class="row">
       
      <ul>
        <h3 class="highlights_inte">Group Size</h3>
        <li class="highlight_list_inte">To provide the best experience and ride possible, groups are limited to a maximum of 10 participants age 16 and up. Trips can be specially arranged for larger groups, but please call in advance.</li>
      </ul>
      
    </div>
   
  </div>
</section>
<section class="tours_first_section">
  <div class="image-container">
      <img class="background_tour" src="{% static 'images/tours/tour_end_banner.jpg' %}">
      <div class="container">
          <h1 class="tour_title_end">“The road might be uphill, but on an ebike, every pedal is a thrill!”</h1>
      </div>
  </div>    
</section>














{% endblock%}