{% extends 'main.html' %}
{% load static %}
{% block content %}

<section class="pop-promo">
    <div class="popup">
        <div class="popup-content">
            <div class="close-btn">&times;</div>
            <div class="video-container-promo">
                <video autoplay muted loop class="peru_video">
                    <source class="videos" src="{% static 'images/home_page/promos.mp4' %}">
                </video>
            </div>    
        
        </div>

    </div>
</section>





<section class="Home_Banner">
    <div class="video-container">
        <img class="videos" src="{% static 'images/tours/header_pic.jpg' %}">
        
        
        <h1 class="home_title">The Triangle's  only<br> E-Bike Touring <br>Company.</h1>
        <div class='hero-btns'>
            <Button class='btns--get--started' >
                <a href="{% url 'tours' %}"> E-bike Tours &nbsp;&nbsp; <i class="fa-solid fa-arrow-right-long" style ="color: #fff !important;"></i></a>
            </Button>
        </div>
    </div>    
</section>

<section class="Home_Intro">
    <div class="container">
        <div class="row p-4">
            <div class=" col-xs-12 col-md-6 pb-5">
                <div class="card home_workout_cards"  >
                    <a class="home_card_links" >
                        <figure class="home_card_figure">
                            <img src="{% static 'images/home_page/adventure.jpg' %}" class="card-img-top home_workout_images " alt="...">
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="home_pre_title" >
                    <h3>SCENIC SITES, BREWERIES & MORE</h3>
                </div>
                <div class="home_during_title">
                    <h1> <span class="text"></span> The Triangle's hidden Treasures </h1>
                </div>
                <div>
                    <p class="home_paragraph">Triangle Adventures is the most fun kind of business: Started as a passion, which turned into a hobby, which turned into a business.<br>
                        <br>
                        We are a team who e-biked every weekend on the Mountains to Sea trail around the Triangle area. We kept saying how lucky we were to have such a gorgeous trail in our back yard, yet we wondered how many people live in the area that have never even been on the trail before.<br>
                        <br>
                    </p>
                    <p class="home_paragraph_single">
                        A “E-Bike Guided Tour” can be an exhilarating and eco-friendly way to explore a city or scenic area

                    </p>

                </div>
            </div>
        </div>    
    </div>
</section>
<section class="sign-up_section">
    <div class="container">
        <h2 class="stay_e">What is an E-Bike?</h2>
        <p class="future_e"> An e-bike (aka electric bicycle) is a bike that uses electricity to assist the rider in pedaling.<br>
            So kick back, and let our state of the art bikes do the work for you.
        </p>
    </div>
</section> 
<section class="services_section">
    <div class="container-fluid">
        <h2 class="stay_e_t">Tours</h2>
        <div class="row p-5">
            <div class="col-xs-12  col-md-3 d-flex align-items-stretch p-3">
                <div class="card home_workout_cards" >
                    <div class="home_card">
                        <a class="home_card_links" href="{% url 'twohour' %}">
                            <img src="{% static 'images/tours/card_s.jpg' %}" class="card-img-top home_card_conf " alt="...">
                        </a>
                    </div>
                    <div class="card-body home_card_padding">
                        <h4 class="card-title home_card_ttext">Scenery Tour</h4>
                        <p class="card-text home_card_tetext">2 hours of smooth, scenic riding on hand-picked sections of the most
                            beautiful scenery on NC Mountains to Sea Trail. Picturesque moments, some local history,
                            exhilarating e-bike ride. Snack included.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12  col-md-3 d-flex align-items-stretch p-3">
                <div class="card home_workout_cards"  >
                    <div class="home_card">
                        <a href="{% url 'threehour' %}" class="home_card_links" >
                            <img src="{% static 'images/tours/card_b.jpg' %}" class="card-img-top home_card_conf " alt="...">
                        </a>
                    </div>
                    <div class="card-body home_card_padding">
                        <h4 class="card-title home_card_ttext">Burgers, Brews, and History too</h4>
                        <p class="card-text home_card_tetext">Are you a burgers and beer connoisseur? Try some delicious local hot spots
                            on this fan-favorite 3 hour tour. Beer and lunch included, along with some local history and
                            fun back-country riding.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12  col-md-3 d-flex align-items-stretch p-3">
                <div class="card home_workout_cards"  >
                    <div class="home_card">
                        <a href="{% url 'fourhour' %}" class="home_card_links" >
                            <img src="{% static 'images/tours/fish1.jpg' %}" class="card-img-top home_card_conf " alt="...">
                        </a>
                    </div>
                    <div class="card-body home_card_padding">
                        <h4 class="card-title home_card_ttext">Tacos, Taps and Local Facts(NEW!)</h4>
                        <p class="card-text home_card_tetext">Oh you are more of a Tacos and Taps lover? We’ve got your covered with the
                            most authentic Mexican food around on this must-experience 3 hour tour. Beer and lunch
                            included, along with a different kind of local history and paved trail riding.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 d-flex align-items-stretch col-md-3 p-3">
                <div class="card home_workout_cards"  >
                    <div class="home_card">
                        <a class="home_card_links" href="https://squareup.com/appointments/buyer/widget/jtza7ynhnqugll/LFJHA78277SG7">
                            <img src="{% static 'images/home_page/buy.jpg' %}" class="card-img-top home_card_conf " alt="...">
                        </a>
                    </div>
                    <div class="card-body home_card_padding">
                        <h4 class="card-title home_card_ttext">Aventon E-Bike Test Drives (FREE)!</h4>
                        <p class="card-text home_card_tetext">Thinking about buying an e-bike but want to try one out first? We are an Authorized Dealer,
                            and regularly host FREE test drive days. Message us for dates and more info. It’s a blast.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="test_section">
    <div class="container">
        <div class="testimonials_pre_title" >
            <h3>Hear it from our customers</h3>
        </div>
        <h2 class="stay_e_t">Testimonials</h2>
        
        <div class="test_container">
            <div class="testimonial mySwiper">
                <div class="testi-content swiper-wrapper">
                    <div class="slide swiper-slide">
                        <img src="{% static 'images/home_page/adventure.jpg' %}" alt="" class="image">
                        <p>
                            "We had an absolute amazing time with Triangle Adventures! Touring the area on e-bikes was such an awesome experience and truly as easy as riding a regular bike, only cooler! Our guides were so incredibly knowledgeable about the area and shared really interesting information that we would have never known about the places we pass regularly. Both Dave and Marlo were so much fun to hang out with and did a great job taking us around. The tour plus a great lunch of burgers and brews made for a fun afternoon that I would definitely try again!"
                        </p>
                        <i class="fa-solid fa-quote-left" style="color: #F96B00;"></i>

                        <div class="details">
                            <span class="review-name">Nyema Daye</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
           
        
        
    </div>
</section>



<section class="sign-up_section">
    <div class="container">
        <h2 class="stay">Stay In Touch</h2>
        <p class="future"> Sign up to receive future offers
            and updates from us!
        </p>
        <div class="contact_us_butt">
            <button class="book_f_e"  type="button"><a class="book_faq_e" target="_blank" href="https://squareup.com/customer-programs/enroll/117pbzsBXauM?utm_medium=copied-link&utm_source=online!"  > Newsletter!</a></button>
        </div>
    </div>
</section>        


        
<section class="home_last_section">
    <div class="video-container-b">
        <img src="{% static 'images/tours/header_pic.jpg' %}">
            
        <h1 class="home_title">Try Something New and Exciting!</h1>
        <h3 class="explore"> We have adventures for everyone, come check it out</h3>
        <div class="contact_us_butt">
            <button class="book_f"  type="button"><a class="book_faq" href="{% url 'tours' %}"  >Choose your Adventure&nbsp;&nbsp;<i class="fa-solid fa-arrow-right-long" style ="color: #fff !important;"></i></a></button>
        </div>
    </div>    
</section>
{% endblock%}
