{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="tours_first_section">
    <div class="image-container">
        <img class="background_tour" src="{% static 'images/tours/main_photo.jpg' %}">
        <div class="container">
            <h1 class="tour_title">E-bike Tours</h1>
        </div>
    </div>    
</section>
<section class="tours_Intro">
    <div class="container">
        <div class="row pt-5 pb-5 mt-5">
            <div class="col-md-6">
                <div class="home_pre_title" >
                    <h3>PERFECT FOR SMALL OR LARGE GROUPS</h3>
                </div>
                <div class="home_during_title">
                    <h1> <span class="auto-type"></span> Kick back and relax with a scenic e-bike tour</h1>
                </div>
                <div>
                    <p class="home_paragraph_tour">
                        Our E-Bike tours are perfect for people of any fitness level. E-Bikes use an electric assist motor to help you pedal and fly up hills.<br>
                        <br>
                        E-Bikes are a fantastic options for touring and exploring – experience some of the best of the Triangle’s hidden gems. 
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card home_workout_cards"  >
                    <a class="home_card_links" >
                        <figure class="home_card_figure">
                            <img src="{% static 'images/tours/forest.jpg' %}" class="card-img-top home_workout_images " alt="...">
                        </figure>
                    </a>
                </div>
            </div>
        </div>    
    </div>
</section>
<section class="tours_hassle_free">
    <div class="second_image-container">
        <img class="second_background_tour"  src="{% static 'images/tours/main_photo.jpg' %}">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-xs-12  col-md-4  p-2">
                    <div class="card" style="width: 100%;height: 100%;">
                        <div class="card-body">
                            <div class="card m-2">
                                <div class="card-body">
                                    <div class="emoticons">
                                        <img class="iconer" src="{% static 'images/tours/map.svg' %}">
                                    </div>
                                    <h5 class="card-title">Convenient location in Raleigh</h5>
                                    <p class="card-text">As the only rafting outfitter in the city, we help you cut down on transportation headaches with an easily accessible location and headquarters.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xs-12  col-md-4 p-2">
                    <div class="card" style="width: 100%;height: 100%;">
                        <div class="card-body">
                            <div class="card m-2">
                                <div class="card-body">
                                    <div class="emoticons">
                                        <img class="iconer" src="{% static 'images/tours/checklist.svg' %}">
                                    </div>
                                    <h5 class="card-title">Adventure without the hassle</h5>
                                    <p class="card-text">We craft the perfect day where every guest has the most incredible experience. We provide the professional equipment and handle the safety.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="col-xs-12  col-md-4 p-2">
                    <div class="card" style="width: 100%;height: 100%;">
                        <div class="card-body">
                            <div class="card m-2">
                                <div class="card-body">
                                    <div class="emoticons">
                                        <img class="iconer" src="{% static 'images/tours/directions.svg' %}">
                                    </div>
                                    <h5 class="card-title">Exclusive local hotspots & history</h5>
                                    <p class="card-text">Don't fall for another cookie-cutter tour. Our close-knit team of guides each gives their own take on our trips making each experience truly unique.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<section class="tours_section">
    <div class="container">
        <h1 class="choose_tour">Choose A Tour</h1>
        <div class="row  m-5">
            <div class="col-xs-12  col-md-4 p-3">
                <div class="card home_workout_cards" >
                    <div class="home_card">
                        <a href="{% url 'twohour' %}" class="home_card_links" >
                            <img src="{% static 'images/home_page/scenic.jpg' %}" class="card-img-top home_card_conf " alt="...">
                        </a>
                    </div>
                    <div class="card-body home_card_padding">
                        <h4 class="card-title home_card_ttext">2 Hour Scenic Adventure</h4>
                        <p class="card-text home_card_tetext">Gorgeous scenic ride on the NC Mountains to Sea Trail.Beautiful scenery, exhilarating E-Bike ride. </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12  col-md-4 p-3">
                <div class="card home_workout_cards"  >
                    <div class="home_card">
                        <a href="{% url 'threehour' %}" class="home_card_links" >
                            <img src="{% static 'images/home_page/brew.jpg' %}" class="card-img-top home_card_conf " alt="...">
                        </a>
                    </div>
                    <div class="card-body home_card_padding">
                        <h4 class="card-title home_card_ttext">Burgers, Brews, and Scenery too</h4>
                        <p class="card-text home_card_tetext">Stop at one of the Triangle's premiere breweries (brewery may change depending on route and starting location).</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12  col-md-4 p-3">
                <div class="card home_workout_cards"  >
                    <div class="home_card">
                        <a  href="{% url 'fourhour' %}" class="home_card_links" >
                            <img src="{% static 'images/home_page/mist.png' %}" class="card-img-top home_card_conf " alt="...">
                        </a>
                    </div>
                    <div class="card-body home_card_padding">
                        <h4 class="card-title home_card_ttext">4 Hour Mystery Adventure</h4>
                        <p class="card-text home_card_tetext">We don't run this adventure very often, so trust us, it is seriously awesome. Full of mistery,never the same twice.</p>
                    </div>
                </div>
            </div>
            
        </div>
        <h1 class="choose_tour">E-Bike Test Drives (FREE)</h1>
        <div class="row justify-content-md-center p-5">
            <div class="col-md-4 offset-md-0">
                <div class="card home_workout_cards"  >
                    <div class="home_card">
                        <a class="home_card_links" href="https://squareup.com/appointments/buyer/widget/jtza7ynhnqugll/LFJHA78277SG7" >
                            <img src="{% static 'images/home_page/buy.jpg' %}" class="card-img-top home_card_conf " alt="...">
                        </a>
                    </div>
                    <div class="card-body home_card_padding">
                        <h4 class="card-title home_card_ttext">Aventon E-Bike Test Drives (FREE)!</h4>
                        <p class="card-text home_card_tetext">Thinking about buying an E-Bike but want to test drive one first? We are an Authorized Dealer with the industry leader.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tours_first_section">
    <div class="image-container">
        <img class="background_tour" src="{% static 'images/tours/tour_end_banner.jpg' %}">
        <div class="container">
            <h1 class="tour_title_end">“The road might be uphill, but on an ebike, every pedal is a thrill!”</h1>
        </div>
    </div>    
</section>












{% endblock%}