{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="tours_first_section">
    <div class="image-container">
        <img class="background_tour" src="{% static 'images/tours/tours_header.jpg' %}">
        <div class="container">
            <h1 class="tour_title">E-bike Tours</h1>
        </div>
    </div>    
</section>
<section class="tours_Intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home_pre_title" >
                    <h3>PERFECT FOR SMALL OR LARGE GROUPS</h3>
                </div>
                <div class="home_during_title">
                    <h1> <span class="auto-type"></span> Kick back and relax with a scenic e-bike tour</h1>
                </div>
                <div>
                    <p class="home_paragraph_tour">
                        Families, couples, singles, team builders, bachelor / bachelorette parties, vacationers, staycationers, or anyone wanting to try something new and exciting... Our adventures are for everyone and accommodate any fitness level, as long as you can ride a bike.
                        (Please reach out ahead of time to book large groups, see FAQ for more details.) 
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card home_workout_cards"  >
                    <a class="home_card_links" >
                        <figure class="home_card_figure">
                            <img src="{% static 'images/tours/forest.jpg' %}" class="card-img-top home_workout_images " alt="...">
                        </figure>
                    </a>
                </div>
            </div>
        </div>    
    </div>
</section>
<section class="tours_section">
    <div class="container">
        <h1 class="choose_tour">Choose A Tour</h1>
        <div class="row  m-5">
            <div class="col-xs-12  col-md-4 d-flex align-items-stretch p-3">
                <div class="card home_workout_cards" >
                    <div class="home_card">
                        <a href="{% url 'twohour' %}" class="home_card_links" >
                            <img src="{% static 'images/tours/card_s.jpg' %}" class="card-img-top home_card_conf " alt="...">
                        </a>
                    </div>
                    <div class="card-body home_card_padding">
                        <h4 class="card-title home_card_ttext">Scenery Tour</h4>
                        <p class="card-text home_card_tetext">2 hours of smooth, scenic riding on hand-picked sections of the most
                            beautiful scenery on NC Mountains to Sea Trail. Picturesque moments, some local history,
                            exhilarating e-bike ride. Snack included.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12  col-md-4 d-flex align-items-stretch p-3">
                <div class="card home_workout_cards"  >
                    <div class="home_card">
                        <a href="{% url 'threehour' %}" class="home_card_links" >
                            <img src="{% static 'images/tours/card_b.jpg' %}" class="card-img-top home_card_conf " alt="...">
                        </a>
                    </div>
                    <div class="card-body home_card_padding">
                        <h4 class="card-title home_card_ttext">Food and Drink Tours</h4>
                        <p class="card-text home_card_tetext">Are you a foodie? Do you enjoy an adult beverage or two? Then these tours are for you.<br>
                            1. Tacos, Taps, and Local Facts<br>
                            2. Burgers, Brews, and History too</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12  col-md-4 d-flex align-items-stretch p-3">
                <div class="card home_workout_cards"  >
                    <div class="home_card">
                        <a  href="{% url 'fourhour' %}" class="home_card_links" >
                            <img src="{% static 'images/tours/r1.jpg' %}" class="card-img-top home_card_conf " alt="...">
                        </a>
                    </div>
                    <div class="card-body home_card_padding">
                        <h4 class="card-title home_card_ttext"> Ghosts, Mystery, Raleigh History</h4>
                        <p class="card-text home_card_tetext">If you want a unique Raleigh experience, this tour has it all: Modern art, ghost stories, weird history, picturesque view of Raleigh’s skyline, and more – all wrapped up in a fun e-bike ride. This fascinating 2 hour tour will fill you with a new appreciation for The City of Oaks.</p>
                    </div>
                </div>
            </div>
            
        </div>
        <h1 class="choose_tour">E-Bike Test Drives (FREE)</h1>
        <div class="row justify-content-md-center p-5">
            <div class="col-md-4 offset-md-0">
                <div class="card home_workout_cards"  >
                    <div class="home_card">
                        <a class="home_card_links" href="https://bookeo.com/triangle-adventures?type=415733TL9PM18D754172AE" target="_blank" >
                            <img src="{% static 'images/home_page/buy.jpg' %}" class="card-img-top home_card_conf " alt="...">
                        </a>
                    </div>
                    <div class="card-body home_card_padding">
                        <h4 class="card-title home_card_ttext">Aventon E-Bike Test Drives (FREE)!</h4>
                        <p class="card-text home_card_tetext">Thinking about buying an e-bike but want to try one out first? We are an Authorized Dealer,
                            and regularly host FREE test drive days. Message us for dates and more info. It’s a blast.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tours_first_section">
    <div class="image-container-b">
        <img class="background_tour" src="{% static 'images/tours/tours_header.jpg' %}">
        <div class="container">
            <h1 class="tour_title_end">“The road might be uphill, but on an ebike, every pedal is a thrill!”</h1>
        </div>
    </div>    
</section>












{% endblock%}